body
{
  padding: 15px;
  text-align: center ;
}

.title
{
  color: #747474;
}

.sous-title
{
  color: #747474;
}

.title-page
{
  color: #747474;
}
#image {
    margin-left: 558px;
}

#imageHaut
{
  width: 15%;
}

#image-photo
{
  display: contents;
  justify-content: center;
}

.btn.btn-success.pull-right {
    margin-right: 107px;
}

.contact {
    width: 94%;
}

nav
{
  display: flex;
  justify-content: space-around;
}

.contact ul li
{
   display: flex;
   justify-content: center;
   list-style-type: none;
}

/*.nav li a
{
  color: black;
}

.nav li a:hover
{
  color: green;
}

.nav.nav-tabs.nav-tabs-justified a:hover
{
  border-color: green;
}*/

.title-table
{
  text-align: center;
}

td
{
  border: 1px solid black;
}

table
{
  border-collapse: collapse;
}

td, th
{
  border: 1px solid black;
}

/** {
    box-sizing: border-box;
    outline: none;
}



#logo, nav, li {
    display: inline-block;
}

nav {
    display: inline-block;
    line-height: 60px;
    vertical-align: top;
}

ul {
    margin-bottom: 50px;
}

li {
    margin-left: 32px;
}
li a, .button {
    text-decoration: none;
    color: #333;
}
.contact {
    width: 94%;
}

.button-sign-up, .button-sign-in{
    text-transform: uppercase;
    float: right;
    margin-top: -16px;
    line-height: 84px;
    height: 84px;
    text-decoration: none;
    padding: 0 16px;
}
.button-sign-up {
    background-color: #EEE;
}

#global {
    position: absolute;
    z-index: -10;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/background.png) center;
    background-size: cover;
}



#hamburger, #hamburger-content {
    display: inline;
}

#hamburger-button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
    vertical-align: top;
    padding: 0;
    line-height: 47px;
    float: right;
    margin-right: 32px;
}

#hamburger-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

#hamburger-sidebar {
    display: none;
    position: fixed;
    width: 84%;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}
#hamburger-sidebar li {
    display: block;
}

#hamburger-sidebar-body {
    padding: 16px 8px;
}
#hamburger-sidebar-body li:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 16px;
    width: 24px;
    height: 24px;
}
#hamburger-sidebar-body .button {
    margin-top: 16px;
    text-align: center;
    float: none;
    display: block;
    height: auto;
    line-height: inherit;
    padding: 10px;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 42px;
        line-height: 56px;
    }

    #hamburger-content {
        display: none;
    }

    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }

    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0);
    }
}*/
