body
{
  margin: 0px 0 ;
  padding: 0 ;
  text-align: center ;
}

#imageHaut{
  width: 100%;
  height: 330px;

}

div#conteneur
{
  margin: 0 auto ;
  text-align: center;
	background: white ;
}

div#contenu
{
	padding: 0 70px 0 82px ;
}

div#contenu h2
{
	padding-left: 5px ;
	border-bottom: 1px solid #52616a;
	border-left: 3px solid #52616a;
	color: black;
  height: 50px;
}

div#contenu p
{
  display: block;
  justify-content: center;
	text-indent: 2em ;
	line-height: 1.7em ;
  height: 200px;
}

ul#menu
{
	height: 100px ;
	margin: 0 ;
	padding: 0 ;
	list-style-type: none ;
}

ul#menu li
{
	float: left ;
	text-align: center ;
}

ul#menu li a
{
	width: 200px ;
	line-height: 30px ;
  /*font-size: 1.2em ;*/
	font-weight: bold ;
	letter-spacing: 2px ;
	color: black ;
	display: block ;
	text-decoration: none ;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

ul#menu li a:hover
{
	background-color: red repeat-x 0 0 ;
}

p#footer
{
	margin: 8px ;
	padding-right: 10px ;
	text-align: right ;
	color: black;
}

nav
{
  display: flex;
  justify-content: space-around;
}

#contact ul li
{
 display: flex;
 justify-content: center;
 list-style-type: none;
}


td
{
    border: 1px solid black;
}

table
{
    border-collapse: collapse;

}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}

legend{
  font-size: 25px;
  color: red;
}
