body
{
  margin: 0px 0 ;
  padding: 0 ;
  text-align: center ;
}

.title
{
  color: green;
}

.sous-title
{
  color: green;
}

.title-page
{
  color: green;
}

#imageHaut
{
  width: 100%;
  height: 100%;
}

#image-photo
{
  display: contents;
  justify-content: center;
}

.btn.btn-success.pull-left
{
  margin-top: -82px;
  margin-left: 987px;
}

p#footer
{
	margin: 8px ;
	padding-right: 10px ;
	text-align: right ;
	color: black;
}

nav
{
  display: flex;
  justify-content: space-around;
}

.contact ul li
{
   display: flex;
   justify-content: center;
   list-style-type: none;
}

.nav li a
{
  color: black;
}

.nav li a:hover
{
  color: green;
}

.nav.nav-tabs.nav-tabs-justified a:hover
{
  border-color: green;
}

.title-table
{
  text-align: center;
}

td
{
  border: 1px solid black;
}

table
{
  border-collapse: collapse;
}

td, th
{
  border: 1px solid black;
}


/***
/* Media Queries
***/
/** 1200px **/
@media (max-width: 1200px) {
  .btn.btn-success.pull-left {
      margin-top: -82px;
      margin-left: 990px;
  }
}


/** >992px **/
@media (min-width: 992px) {
  .btn.btn-success.pull-left {
      margin-top: -82px;
      margin-left: 789px;
  }
}

/** 991px **/
@media (max-width: 991px) {
  .btn.btn-success.pull-left {
    margin-top: -82px;
    margin-left: 568px;
}
}

/** 768px **/
@media (max-width: 768px) {


}

/** 767px **/
@media (max-width: 767px) {
  .btn.btn-success.pull-left {
      margin-top: -82px;
      margin-left: 584px;
  }
}

/** 575px **/
@media (max-width: 575px) {
  .btn.btn-success.pull-left {
    margin-top: -37px;
    margin-left: -2px;
}
}

/** 480px **/
/*@media (max-width: 480px) {
}*/

/** 360px **/
@media (max-width: 360px) {

}
